main {background-color: saddlebrown;}

header {font-size: 150%;
        color: rgb(102, 46, 7);
        margin-left: 40%;
        border-color: black;
        border-left: 6px;
    border-style: dotted;}

footer {background-color: rgb(85, 35, 0);
        margin-left: 40%;
        margin-right: 20%;
        border-color: black;
        border-left: 6px;
    border-style: dotted;}

